#back-start-button {
    width: 280px;
    height: 80px;
    font-size: 30px;
    border-radius: 50px;
    color: black;
    background-color: #48C7FF;
    margin-bottom: 10px;
}

#back-start-button:hover {
    background-color: #00aef8;
}