#basket-page-container {
    padding: 0;
}

/* left side */

#left-grid {
    height: 768px;
}

#item-counter {
    margin: 5px;
}

#cart-grid {
    width: 750px;
    height: 600px;
    border: solid 1px rgb(173, 173, 173);
    margin-left: auto;
    margin-right: auto;
}

#cart-grid-title {
    background-color: #48C7FF;
    border-radius: 5px;
    border: solid 1px rgb(173, 173, 173);
    font-size: 22px;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

#cart-item-title {
    margin-left: 10px;
}

#cart-item-quantity {
    text-align: center;
}

#cart-item-price {
    text-align: center;
}

/* right side */

#right-grid {
    background-color: #48C7FF;
    padding-top: 10px;
    height: 768px;
    border-left: solid 1px rgb(155, 155, 155);
}

#help-button-grid {
    margin-left: -20px;
}

#product-button-grid {
    margin-top: 80px;
}

#pay-button-grid {
    margin-top: 160px;
}