#pay-button {
    width: 280px;
    height: 80px;
    font-size: 30px;
    border-radius: 50px;
    color: black;
    border-color: rgb(145, 145, 145);
    background-color: white;
    margin-bottom: 10px;
}

#pay-button:hover {
    background-color: rgb(224, 223, 223);
}