#product-button {
    width: 280px;
    height: 90px;
    font-size: 27px;
    border-radius: 15px;
    color: black;
    border-color: rgb(145, 145, 145);
    background-color: white;
    margin-bottom: 60px;
}

#product-button:hover {
    background-color: rgb(224, 223, 223);
}