#search-product-item {
    width: 400px;
    height: 300px;
    background-color: #48C7FF;
    color: black;
}

#item-button-image {
    width: 180px;
    height: 180px;
}

#item-button-text {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#item-price-text {
    font-size: 22px;
    margin: 0px;
}

#quantity-select-modal-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}