#start-page-container {
    margin: 0;
    padding:0;
    text-align: center;
    width: 1920px;
    height: 970px;
}

#first-row {
    background-color: #48C7FF;
    padding-bottom: 25px;
}

#inner-title-container {
    text-align: center;
}

#page-title {
    font-family: 'Inter', sans-serif;
    font-size: 75px;
}

#help-button-div {
    align-self: center;
    text-align: center;
}

.no-margin {
    margin: 0;
}

.instruction-text {
    font-size: 25px;
}

#second-row {
    margin-top: 25px;
}

#placeholder {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 900px;
    height: 600px;
    margin-bottom: 20px;
}

#video-player {
    width: 900px;
    height: 600px;
    display: block;
}