#start-page-container {
    margin: 0;
    padding:0;
    text-align: center;
}

#first-row {
    background-color: #48C7FF;
}

#page-title {
    font-family: 'Inter', sans-serif;
    font-size: 70px;
}

#help-button-div {
    align-self: center;
}

.no-margin {
    margin: 0;
}

.instruction-text {
    font-size: 20px;
}

#second-row {
    background-color: #48C7FF;
    padding-bottom: 20px;
}

#third-row {
    margin-top: 20px;
}

#placeholder {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    width: 100%;
    height: 450px;
    margin-bottom: 30px;
}